/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*Google fonts poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');

html,body {
  height:100%;
  padding:0;
  margin:0;
}

.aboutH {
  height: calc(100vh - 4em);
  height: -moz-calc(100vh - 4em);
  height: -webkit-calc(100vh - 4em);
}

.videoH {
  min-height: calc(100vh - 4em - 9rem);
  min-height: -moz-calc(100vh - 4em - 9rem);
  min-height: -webkit-calc(100vh - 4em - 9rem);
}

.researchH {
  min-height: calc(100vh - 4em - 9rem);
  min-height: -moz-calc(100vh - 4em - 9rem);
  min-height: -webkit-calc(100vh - 4em - 9rem);
}

/*Chrome and webkit*/
::-webkit-scrollbar {
  width: 1.3rem;
  background: linear-gradient(to bottom, #1010a3, #0058ca, #008ddd, #76bfe7, #d4ecf4); /*linear-gradient(to bottom, #1010a3, #604dbd, #9686d6, #c9c2ec, #ffffff)*/;
}

::-webkit-scrollbar-track {
  background: #D4ECF4;
  border-radius: 100vw;
  margin-block: .1rem;
}

::-webkit-scrollbar-thumb {
  background: #1010A3;
  border-radius: 100vw;
  border: 0.2rem solid #D4ECF4;
}

/*Firefox scrollbar*/
@supports (scrollbar-color: grey grey) {
  * {
    scrollbar-color: #1010A3 #D4ECF4;
  }
}

/*
@layer base {
    @font-face {
      font-family: Poppins;
      font-weight: 500;
      src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');
      src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
    }
    @font-face {
        font-family: Poppins;
        font-weight: 600;
        src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
      }
      @font-face {
        font-family: Poppins;
        font-weight: 700;
        src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
      }
      @font-face {
        font-family: Poppins;
        font-weight: 800;
        src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
      }
  }
*/